<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>vaalikone.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Vaalikone</servlet-name>
        <servlet-class>vaalikone.Vaalikone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HaeEhdokas</servlet-name>
        <servlet-class>vaalikone.HaeEhdokas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>STarkistus</servlet-name>
        <servlet-class>vaalikone.STarkistus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ETallennus</servlet-name>
        <servlet-class>vaalikone.ETallennus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EPoisto</servlet-name>
        <servlet-class>vaalikone.EPoisto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Vaalikone</servlet-name>
        <url-pattern>/Vaalikone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HaeEhdokas</servlet-name>
        <url-pattern>/HaeEhdokas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>STarkistus</servlet-name>
        <url-pattern>/STarkistus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ETallennus</servlet-name>
        <url-pattern>/ETallennus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EPoisto</servlet-name>
        <url-pattern>/EPoisto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
